<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
     <add name="BIG_DBEntities" connectionString="metadata=res://*/BIGDB.csdl|res://*/BIGDB.ssdl|res://*/BIGDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.59.122.206;initial catalog=BIG_DB;persist security info=True;user id=big;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BIG.Present.Properties.Settings.BIG_DBConnectionString" connectionString="Data Source=NB_PRAKASIT\SQLEXPRESS;Initial Catalog=BIG_DB;Persist Security Info=True;User ID=big; password=1234;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
